<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/overview">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/calendar">Calendar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/batches">Batches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/locations">Locations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/curricula">Curricula</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/trainers">Trainers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/reports">Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Minerva/logout">Logout</a>
  </li>
</ul>