#q-and-a-container{
    margin: 25px 10%;
    min-width: 400px;
    max-height: 90vh;
    max-width: 95vw;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
h1{
    background: #f26925;
    color: white;
    min-width: 260px;
    text-align: center;
    font-size: 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    border-color: #f26925;
    margin-bottom: 20px;
    padding: 12px;
    white-space:nowrap;
}
h2{
    font-size: 20px;
    text-align: center;
}
p{
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}
#q-and-a-content{
    padding: 25px 5%;
}
/* #############################
    CATEGORY BUTTON TABS STYLES
############################# */
#bucket-buttons{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

.btn{
    margin: auto 5px;
    background: #f26925;
    border-color: #f26925;
    color: white;
}
/* #############################
    QUESTION TABLE STYLES 
############################# */
#table-container{
    max-height: 300px;
    overflow-y: scroll;
}

.table[_ngcontent-c11] thead[_ngcontent-c11] th[_ngcontent-c11], 
.table[_ngcontent-c11] td[_ngcontent-c11], 
.table[_ngcontent-c11] th[_ngcontent-c11] {
    border-top:0px;
}
.table thead th, .table td, .table th{
    border-top: 1px solid #b1b8bd;
    border-bottom: 1px solid #7f97a8;
}

/* Submit Button */
#center-submit{
    text-align:center;
    margin:auto;
    margin-bottom: 10px;
}

#submit-button{
    margin: auto 5px;
    width: 120px;
    background: #f26925;
    border-color: #f26925;
    color: white;
}

/* Footer */
.footer{
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-style: solid;
    border-color: #474c55;
    border-width: 0px;
    border-top-width: 2px;
    background-color: white;
    z-index: 2;
}
#gfooter{
    padding-bottom: 150px;
	position: fixed;
	/* bottom: 115px; */
    text-align: center;
}

#footsie{
	resize: none;
	/* height: 10em; */
	font-size: 16px;
	border: 1px solid #ccc;
    border-radius: 4px;
}
h3{
    font-size: 18px;
    white-space: nowrap;
}
textarea{
    width: 80%;
    min-width: 400px;
}
.pointer{
    cursor: pointer;
}