#finalrep{
    margin-left: 20px;
    margin-right: 20px;
}

#finalcon{
    border-style: solid;
    border-color: #f26925;
    border-width: 4px;
    padding: 10px;
}

.centerit{
    text-align:center;
}

.copywow{
    text-align: center;
    margin: auto 5px;
    width: 120px;
    background: #f26925;
    border-color: #f26925;
    color: white;
}

h1{
    font-size: 20px;
}