<div>
    <h3>Candidate's Self-Introduction Form</h3>
    <div>
      <label>Name</label>
      <p>{{traineeName}}</p>
      <label>Track</label>
      <p>{{traineeTrack}}</p>
    </div>
    <div *ngFor="let tag of tagList; let i = index">
      <!-- Create a checkbox for each tag using ngFor. Toggle buttons instead of checkboxes! -->
      <div class="switch">
        <input type="checkbox" id="cmn-toggle-{{i}}" class="cmn-toggle cmn-toggle-round" (change)="updateTagList(tag, $event.target.checked)"> {{tag.tagName}} <br>
        <label class="onoffswitch-label" for="cmn-toggle-{{i}}"></label>
      </div>
    </div>
    <div>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-group">
          <label for="inputComment">Introductory Comments</label>
          <input formControlName="comment" type="text" id="inputComment" placeholder="Any comments regarding the candidate's self-introduction">
        </div>
        <button type="submit">Next</button>
      </form>
        <label>Introductory Comments</label>

    </div>
  </div>