<div id="pass-fail-container" class="pass-fail-container">
  <h2>Soft Skills Evaluation</h2>
  
  <div id="table-container" *ngIf="hasViolations()">
    <div id="violationTable" class="violation-table" >
      <table class="table table-hover" id="table-container">
        <thead>
          <tr>
              <th scope="col">Violation Type</th>
              <th scope="col">Violation Time</th>
              <th scope="col">Comment </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="hasViolations()">
            <tr class="violation" *ngFor="let violation of violations">
              <td>
                <span>{{violation.violationType.violationType}}</span>
              </td>
              <td>
                <span>{{violation.Time}}</span>
              </td>
              <td>
                <span>{{violation.Comment}}</span>
              </td>
              
            </tr>

            <!-- Dummy data to remove -->
            <tr>
              <td>
                <span>Profanity</span>
              </td>
              <td>
                <span> 25:00 </span>
              </td>
              <td>
                <span> Candidate said the a-word</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Rambling</span>
              </td>
              <td>
                <span> 34:00 </span>
              </td>
              <td>
                <span> Candidate talked for 5 hours on a single question </span>
              </td>
            </tr>
            <tr>
              <td>
                <span> Stuck-up</span>
              </td>
              <td>
                <span> 5:35:31 </span>
              </td>
              <td>
                <span> Candidate referred to me as a plebian </span>
              </td>
            </tr>
            <!-- End of dummy data to remove -->

          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div >

  </div>
  <div id="pass-fail-button">
    <button class="btn" (click)="pass()">Pass Soft Skills</button>
    <button class="btn" (click)="fail()">Fail Soft Skills</button>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal" [style.display]="endScreeningPrompt()">
    <!-- Modal content -->
    <div class="modal-content">
      <h2>Do you want to Submit?</h2>
      <div class="buttons">
        <button class="btn" type="submit" 
          routerLink="/Caliber/screening/finalReport"
          routerLinkActive="activeLink">Submit</button>
        <button class="btn" (click)="endScreening = !endScreening">Cancel</button>
      </div>
    </div>
  </div>
</div>
